<meta charset="UTF-8"/>
{%- if seo and seo.page_title -%}
{%- set pageTitle = seo.page_title -%}
{%- else -%}
{%- set pageTitle = title -%}
{%- endif -%}
<title>{{ pageTitle | replace("{{pagination.num}}", "Page " +pagination.num) }} | INDUSTRIAL</title>
<link rel="preload" as="font" href="/fonts/MaisonNeueWEB-Demi.woff2" crossorigin>
<link rel="preload" as="font" href="/fonts/MaisonNeueWEB-Book.woff2" crossorigin>
<link rel="preload" as="font" href="/fonts/GT-America-Compressed-Bold.woff" crossorigin>
<link rel="stylesheet" href="/css/style.css">
<!-- Google Tag Manager -->
<script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s),
            dl = l != 'dataLayer'
                ? '&l=' + l
                : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f
            .parentNode
            .insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-WJJ7L2');
</script>
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="apple-mobile-web-app-title" content="Industrial Strength Marketing">
<meta name="application-name" content="Industrial Strength Marketing">
<meta name="msapplication-TileColor" content="#202020">
<meta name="theme-color" content="#000000">
{% include "partials/seo-graph.njk" %}
<link rel="alternate" type="application/rss+xml" title="INDUSTRIAL Marketing Insights" href="https://industrialstrengthmarketing.com/rss-feed.xml"/>
{%- if env.BUGHERD -%}
<script type="text/javascript" src="https://www.bugherd.com/sidebarv2.js?apikey=bncsf5758h6xwqplf33zpa" async="true"></script>
{%- endif -%}
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
{% if headExtra %}
    {{headExtra}}
{% endif %}