<div class="footer lp-footer">
    <div class="container-fluid lp-footer-meta">
        <div class="pull-left">&copy; {{year}} Industrial Strength Marketing <a href="/privacy-policy/">Privacy Policy</a></div>
        <div class="pull-right">
            <span class="footer-phone">Call Us: 1-866-529-8908</span>
        </div>
    </div>
</div>
{% include "partials/schema.njk" %}
<script src="/js/scripts.js"></script>
{% include "partials/footer-scripts.njk" %}