<script type='application/ld+json'>
    {
        "@context":"https:\/\/schema.org",
        "@type":"WebSite",
        "@id":"#website",
        "url":"https:\/\/industrialstrengthmarketing.com\/",
        "name":"Industrial Strength Marketing"
    }
</script>

<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "LocalBusiness",
      "logo": "https://industrialstrengthmarketing.com/img/logo.svg",
      "image": [
        "https://industrialstrengthmarketing.com/img/logo.svg"
       ],
      "@id": "https://industrialstrengthmarketing.com",
      "name": "Industrial Strength Marketing",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "1401 5th Ave N",
        "addressLocality": "Nashville",
        "addressRegion": "TN",
        "postalCode": "37208",
        "addressCountry": "US"
      },
      "url": "http://industrialstrengthmarketing.com",
      "telephone": "+16155772015",
        "sameAs": [
        "https://youtube.com/c/industrialstrengthmarketing",
        "https://www.facebook.com/industrialstrengthmarketing",
        "http://www.linkedin.com/company/287765",
        "https://plus.google.com/104163113332860874355"
        ]
    }
    </script>