{% extends "layout.njk" %}
{% block body %}
<div class="container-fluid {{ 'padding-top' if headerCssClass }}">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 {{ path | cssClassify }} main-copy">
            <!-- Title and Last Updated Date -->
            <h2 id="industrials-website-privacy-policy">{{ heading }}</h2>
            <p><em>{{ last_updated_date }}</em></p>

            <!-- Loop through policies and render with HTML-safe content -->
            {% for policy in policies %}
                <h3 class="{{ path | cssClassify }}">{{ policy.policy_title | safe }}</h3>
                <div class="{{ path | cssClassify }}">
                    {% for paragraph in policy.policy_description.split('\n') %}
                        {% if paragraph.startsWith('*') %}
                            <ul>
                                {% for line in paragraph.split('\n') %}
                                    {% if line.trim().startsWith('*') %}
                                        <li>{{ line | replace('* ', '') | safe }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p class="{{ path | cssClassify }}">{{ paragraph | safe }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
