{% extends "layout.njk" %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="resources-grid">
                {% for item in resource_list | sort(attribute='order') %}
                {% if item.active == "1" %}
                <div class="resource">
                    <a target="_blank" href="{{ item.url }}" data-ga-event="Resources" data-ga-action="Click" data-ga-label="{{ item.headline }}">
                        <img src="{{ item.img }}" alt="{{ item.headline }}" class="img-responsive books_img_wp" />
                    </a>
                    <div class="content-title upper">
                        <a target="_blank" href="{{ item.url }}">{{ item.headline }}</a>
                    </div>
                    <p>{{ item.copy }}</p>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <hr>
        <div class="col-sm-12 text-center desc_text">
            <p class="leadin">
                {{description}}
                <br>
                <a href="{{button_url}}" class="btn btn-default">{{button_text}}</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
