{% extends "layout.njk" %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 {{ path | cssClassify}} main-copy">
            {{ contents | safe }}
        </div>
    </div>
</div>
<br><br>
<div class="container-fluid next-block-small">
        {% if next %}
        {% set nextItem = next %}
        {% else %}
        {% set nextItem = services[0] %}
        {% endif %}
        {% set nextSubTitle = 'Service' %}
        {% include "partials/next-block.njk" %}
        </div>
{% endblock %}