<div class="row">
    <div class="col-sm-5">
        <img src="/img/ISM_Podcast_Artwork_Image.jpg" alt="Industrial Strength Marketing Podcast - James Soto" class="img-responsive" width="100%">
    </div>
    <div class="col-sm-7">
        <h2>Welcome to the Industrial Strength Marketing Podcast</h2>
        <p class="blog-copy">
                    You can make marketing a strength of your business, but it begins with challenging perceptions and learning the critical trends and strategies impacting your industry. Featuring inspiring conversations between industrial leaders and host James Soto, Founder and CEO of one of North America’s top industrial marketing agencies, this show exists for one purpose: to deliver insights that help you grow your business.
            </p>
    </div>
    <div class="col-sm-12">
        <hr class="blog-rule">
    </div>
</div>